@using RentAPitch.Repositories.Utility
@using RentAPitch.Utility;
@model RentAPitch.Models.ViewModels.Order.OrderViewModel

<form method="post">
    <input type="hidden" asp-for="OrderHeader.Id" />
    <div class="container-sm">
        <div class="row">
            <div class="col-6">
                <h2>Rental Details</h2>
                <div class="row mb-3">
                    @if (User.IsInRole(FD.Admin_Role))
                    {
                        <label asp-for="OrderHeader.FullName">Name</label>
                        <input asp-for="OrderHeader.FullName" class="form-control" />
                        <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>
                    }
                    else
                    {
                        <label asp-for="OrderHeader.FullName">Full Name</label>
                        <input readonly asp-for="OrderHeader.FullName" class="form-control" />
                    }
                </div>
                <div class="row mb-3">
                    <label asp-for="OrderHeader.ApplicationUser.Email">Email</label>
                    <input readonly asp-for="OrderHeader.ApplicationUser.Email" class="form-control" />
                </div>
                <div class="row mb-3">
                    <label asp-for="OrderHeader.DateOfOrder">Order Date</label>
                    <input readonly value="@Model.OrderHeader.DateOfOrder.ToShortDateString()" class="form-control" />
                </div>
                @if (Model.OrderHeader.SessionId != null)
                {
                    <div class="row mb-3">
                        <label asp-for="OrderHeader.DateOfPayment">Payment Date</label>
                        <input readonly value="@Model.OrderHeader.DateOfPayment.ToShortDateString()" class="form-control" />
                    </div>
                }
                <div class="row mb-3">
                    <label asp-for="OrderHeader.PaymentStatus">Payment Status</label>
                    <input readonly asp-for="OrderHeader.PaymentStatus" class="form-control" />
                </div>
                @if (User.IsInRole(FD.Admin_Role))
                {
                    <div class="row mb-3">
                        <button type="submit" class="btn btn-primary">Update Order</button>
                    </div>
                }

            </div>
            <div class="col-6">
                <div class="mb-4">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Order Summary - @Model.OrderHeader.OrderStatus</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-1 px-0 pb-0">
                                        <span><b>Pitch Name :</b> @item.Pitch.PitchName</span><br />                                       
                                        <span><b>Pitch Date :</b> @item.StartDate to @item.ReturnDate</span><br />
                                        <span><b>Pitch Price :</b> @item.Pitch.PricePerDay</span><br />
                                        <div class="text-end"><b>Total:</b>@item.RentalTotal</div>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount &nbsp;<span class="text-end">@Model.OrderHeader.OrderTotal</span></strong>
                                        <strong>
                                            BGN
                                        </strong>
                                    </div>
                                    <span><strong></strong></span>
                                </li>
                            </ul>
                        </div>
                        @if (User.IsInRole(FD.Admin_Role))
                        {
                            if (Model.OrderHeader.OrderStatus == GlobalConfiguration.StatusApproved)
                            {
                                <button asp-action="InProcess" type="submit" class="btn btn-info btn-lg btn-block mb-2">
                                    Start Processing
                                </button>
                            }
                            if (Model.OrderHeader.OrderStatus == GlobalConfiguration.StatusInProcess)
                            {
                                <button asp-action="Shipped" type="submit" onclick="return ValidateEmpty()" class="btn btn-success btn-lg btn-block mb-2">
                                    Ship Order
                                </button>
                            }
                            if (Model.OrderHeader.OrderStatus != GlobalConfiguration.StatusRefund &&
                            Model.OrderHeader.OrderStatus != GlobalConfiguration.StatusCancelled)
                            {
                                <button asp-action="CancelOrder" type="submit" class="btn btn-dark btn-lg btn-block mb-2">
                                    Cancel Order
                                </button>
                            }
                        }
                        else
                        {
                            @if (User.IsInRole(FD.Customer_Role) && Model.OrderHeader.OrderStatus == GlobalConfiguration.StatusPending)
                            {
                                <button asp-action="PayNow" type="submit" class="btn btn-success btn-lg btn-block mb-2">
                                    Pay Now
                                </button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}